#welcome-section {
    background: linear-gradient(45deg, rgb(138, 196, 219), rgb(17, 29, 85));
    height: 100vh;
    text-align: center;
    padding-top: 0vh;
    margin: -5vh;
    
}

#projects {
    background-color: rgb(57, 126, 92);
    text-align: center;
    height:190vh;
    padding-top: 10vh;
    margin: -5vh;
}

#social-media {
    background-color: rgb(63, 61, 78);
    text-align: center;
    height:60vh;
    padding-top: 10vh;
    margin: -5vh;
}

h1 {
    font-family:cursive;
    font-size: 8vh;
    color: white;
}

p{
    font-size: 3vw;
    color: springgreen;
    position: relative;
    top: 30vh;
}

#presentation {
    font-size: 10vh;
    position: relative;
    top: 30vh;
}

.divider {
    background-color: white;
    height: 0.5vh;
    width: 133vh;
    margin-left: 40vh;
    margin-top: -3vh;
}

#navbar {
    background-color: rgb(34, 42, 87);
    height: 15vh;
    position: fixed;
    top: 0;
    width: 110%; /* asegúrate de que ocupe todo el ancho */
    z-index: 2;
    border-bottom: 0.5vh solid rgb(33, 5, 78);
    box-shadow: 0.3vh 0.2vh 0.3vh 0.4vh slateblue;
}

.contenedor {
    display: flex;
    gap: 5vh;
}

.nav-link {
    font-size: 6vh;
    text-decoration: none;
    color: white;
    font-family: cursive;
    padding: 2.5vh;
    padding-bottom: 4.8vh;
    position: relative;
    left: 128vh;
}

.nav-link:hover {
  background-color: slateblue;
}

#image_uno {
    width: 50vh;
    height: 70vh;
    position: absolute;
    left: 8vh;
    top: 145vh;
    border: 0.5vh solid white;
}

#image_dos {
    width: 55vh;
    height: 70vh;
    position: absolute;
    left: 75vh;
    top: 145vh;
    border: 0.5vh solid white;
}


#image_tres {
    width: 50vh;
    height: 70vh;
    position: absolute;
    left: 148vh;
    top: 145vh;
    border: 0.5vh solid white;
}

#image_cuatro {
    width: 190vh;
    height: 50vh;
    position: absolute;
    left: 8vh;
    top: 225vh;
    border: 0.5vh solid white;
}

#div_uno {
    height: 11vh;
    width: 51vh;
    background-color: gray;
    position: absolute;
    top: 205vh;
    left: 8vh;
}

#survey-form {
    color: white;
    font-family: cursive;
    position: absolute;
    left: 13vh;
    top: -0.5vh;
}

#div_uno:hover {
    background-color: rgb(112, 125, 201);
}

#div_dos {
    height: 11vh;
    width: 55.9vh;
    background-color: gray;
    position: absolute;
    top: 205vh;
    left: 75vh;
}

#tribute-page {
   color: white;
    font-family: cursive;
    position: absolute;
    left: 16vh;
    top: -0.5vh; 
}

#div_dos:hover {
    background-color: rgb(112, 125, 201);
}

#div_tres {
    height: 11vh;
    width: 50.9vh;
    background-color: gray;
    position: absolute;
    top: 205vh;
    left: 148vh;
}

#div_tres:hover {
    background-color: rgb(112, 125, 201);
}

#technical-documentation-page {
    color: white;
    font-family: cursive;
    font-size: 3vh;
    position: absolute;
    left: 4vh;
    top: 0.5vh;
}

#div_cuatro {
    height: 11vh;
    width: 191vh;
    background-color: gray;
    position: absolute;
    top: 265vh;
    left: 8vh;
}

#div_cuatro:hover {
    background-color: rgb(112, 125, 201);
    
}

#product-landing-page {
    font-family: cursive;
    position: relative;
    top: -1vh;
    color: white;
}

#final_caption {
    position: relative;
    top: -10vh;
}

#dm-me {
    position: relative;
    top: -8vh;
}

#navbar_dos a {
    text-decoration: none;
    color: linen;
}

.contenedor_dos {
    display: flex;
    justify-content: center;
    gap: 10vh;
    font-size: 10vh;
    position: relative;
    top: -5vh;
}

@media only screen and (max-width: 760px) {
    * {
        box-sizing: border-box;
    }
}